body {
    background-color: #FFFFFF;
}

.rectangle {
    height: 400px;
    width: 100%;
    background-color: #d6b68c;
    z-index: 1;
}

h1 {
    position: relative;
    top: -300px;
    font-family: rift, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    left: 850px;
    color: white;
    z-index:2;
}

h3{
    position: absolute;
    top: 270px;
    left:1000px;
    font-family: rift, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
    color: white;
}

img {
    border-radius: 25px;
    width: 500px;
    position: relative;
    top:-420px;
    left: 120px;
    z-index: 3;
}

.portfolio{
    position: relative;
    border-radius: 25px;
    top:-900px;
    left:300px;
    height:100px;
    width: 500px;
    background-color: #ede6e3;
    line-height: 25px;
    display: inline-block;
    font-family: rift, sans-serif;
    font-size: 30px;
    vertical-align: middle;
    font-weight: 300;
    text-align: center;
}

.about{
    display: inline-block;
    position: absolute;
    border-radius: 25px;
    top:650px;
    left:812px;
    height:100px;
    width: 500px;
    background-color: #ede6e3;
    line-height: 25px;
    display: inline-block;
    font-family: rift, sans-serif;
    font-size: 30px;
    vertical-align: middle;
    font-weight: 300;
    text-align: center;
}

.manifesto{
    display: inline-block;
    position: absolute;
    border-radius: 25px;
    top:830px;
    left:812px;
    height:100px;
    width: 500px;
    background-color: #ede6e3;
    line-height: 25px;
    display: inline-block;
    font-family: rift, sans-serif;
    font-size: 30px;
    vertical-align: middle;
    font-weight: 300;
    text-align: center;
}

a:link, a:visited{
    color:black;
    text-decoration: none
}

a:hover{
    background-color: black;
    color:white;
}